.container {
    margin: 60px 10px 0
}

.title {
    width: 96%;
    margin: 0 auto;
    padding-top: 0;
}

.titleName {
    margin: 0;
    font: bold 30px Avenir, Arial, georgia;
    color: #222222;
    padding-top: 30px;
    position: relative;
}